
/* ESTILOS POR ETIQUETAS */

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  color: rgb(231, 85, 85);
  text-align: center;
  
}


ul li a {
  color: whitesmoke;
  text-decoration: none;
  padding: 0 10px 0 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
  
}
ul{
  display: flex;
  padding-right: 3px;
  margin: 4px;
}

button{
  padding: 40px;
}
/* ESTILOS ID'S */
#letracoder{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  }
  
  #letraBank{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(211, 197, 1);
    
  }



  #tituloPrincipal{
   margin: 60px;
   
  }
  /* ESTILOS CLASES */

  .container {
    display: flex;
    justify-items: center;
    text-align: center;
    align-items: center;
  }
  .bodyIndex{
    background-color: rgb(26, 26, 26);
  }
  
  .boton{
    background-color: rgb(187, 187, 14);
    color: black;
    font-size: 20px;
    margin: 20px;
      
    }